// Colors
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$grey-4: #C8C8C8;
$grey-5: #989898;
$white: #fff;
$black: #000;
$black-google: rgb(27, 28, 29);
$shadow-color: rgb(0, 0, 14);
$code-color: #bf616a;
$ivory: rgb(255,254,244);
$wine: rgb(116, 47, 55);
$lighter-black: #080808;
$even-lighter-black: #101010;

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: Menlo, Monaco, monospace;
$montserrat: 'Montserrat', sans-serif;
$google-serif: Google Sans, Helvetica Neue, sans-serif;