.social-layer {
  text-align: center;
  left: 50%;
  font-size: 0.95em;
  text-decoration: none;
  opacity: 0.6;

  /* Used to display social icons on the same line */
  .social-icons {
    ul {
      li {
        margin-right: 0.90em;
        /* Using only inline instead of inline-block generates a dash separating the elements */
        display: inline-block;
      }
    }
  }
}
