.post {
  margin-top: 4rem;
  text-align: center;
  .tag_list{
    text-align: center;
    color: $grey-5;
    &:hover, &:focus {
      opacity: 0.8;
    }
  }
  .post_content {
    a {
      color: $grey-5;
      &:hover, &:focus {
        opacity: 0.8;
      }
    }
    h2 {
        color: $lighter-black;
        font-size: 2rem;
      }
    max-height: 70%;
    p {
      font-family: $montserrat;
      margin-left: 25rem;
      margin-right: 25rem;
      text-align: left;
      color: $lighter-black;


    }
    ul {

      font-family: $montserrat;
      margin-left: 27rem;
      margin-right: 27rem;
      text-align: left;
      color: $lighter-black;

    }
    ol {
      font-family: $montserrat;

      margin-left: 27rem;
      margin-right: 27rem;
      text-align: left;
      color: $lighter-black;

    }

  }

  &-title {
    font-family: $montserrat;
    font-size: 2.6rem;
    margin: 1rem 0;
    text-align: center;
    color: $lighter-black;

  }

  a:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $montserrat;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}