.tags {
    text-align: center;
    size: 10rem;
    margin-top: 4rem;

    a {
        color: $grey-5;
        font-size: 1.6rem;
        margin-bottom: 0.3rem ;
        &:hover, &:focus {
            opacity: 0.8;
        }
    }
}



