// components/_navigation.scss



.nav {
  z-index: 9999;
  height: 4rem;
  background-color: black;
  box-shadow: 0 2px 4px 0 grey;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  &-container {
    width: 80%;
    margin: auto;
    text-align: left;

    // Style the anchor wrapping nav-title
    > a {
      text-decoration: none;
      color: $ivory;
      font-family: $montserrat;

      &:hover, &:focus {
        opacity: .6;
      }
    }
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $ivory;
    display: inline-block;
    margin: 1rem;
    padding-right: .2rem;
    font-family: $montserrat;

    &:hover, &:focus {
      opacity: .6;
    }
  }



  ul {
    margin: -3.43rem 0 0;
    text-align: right;
  }

  li {
    @include transition(all .2s ease-out);
    color: $ivory;
    display: inline-block;
    padding: 1rem 0 0.1rem 1.3rem;
    font-family: $montserrat;

    &:last-child {
      padding-right: 0;
    }

    &:hover, &:focus {
      opacity: .6;
    }
  }

  a {
    text-decoration: none;
    color: $ivory;
    font-family: $montserrat;
  }
}
