.notes{
    .notes-title{
        font-size: 2.3rem;
        font-family: $montserrat;
        /* How far from the bottom to put the element */
        text-align: center;
        margin-top: 50px;

    }
}