// components/_pagination.scss

.pagination {
  border-top: .5px solid $wine;
  font-family: $google-serif; // Explicitly set if different from base
  padding-top: 2rem;
  position: relative;
  text-align: center;
  margin-top: 3rem; // Add some space above pagination


  span {
    color: $wine;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $wine;
    font-size: 1.1rem;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  .next {
    @include transition(all .3s ease-out);
    color: $wine;
    font-size: 0.9rem;
    position: absolute;
    top: 2rem; // Align vertically with the top padding


    &:hover,
    &:focus {
      opacity: .6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}